doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Learnit
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      header.menu
        nav.content
          ul.list
            li.link
              a(href='/') Home
            li.link
              a(href='/opcoes') Funções
            li.link
              a(href='/visualizar') Outra coisa
            li.link
              a(href='/json') JSON
      main
        span
          img(src='/images/logo1.png' alt='')
        span
          span
            h1 Bem vindo ao Learnit + !
            h2 Preparado para aprender biologia como nunca?!
