doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Publications
    link(rel='stylesheet', href='/stylesheets/styleC.css')
  body
    #fade.hide
    #modal.hide
      .modal-header
        h2(style='color: black;') Cadastrar Publicações
        button#close-modal(style='color: black; background-color: transparent') X
      .modal-body
        div
        p=msg
        form#form(action='/packages/create/' method='POST')
          input.inputs(name="imagem" type='text' value='' placeholder='Insira a URL da imagem')
          input.inputs(name="titulo" type='text' value='' placeholder='Insira o título do pacote')
          input.inputs(name="desconto" type='text' value='' placeholder='Insira o desconto do pacote')
          input.inputs(name="precoAtual" type='text' value='' placeholder='Insira o preço atual do pacote')
          input.inputs(name="precoAntigo" type='text' value='' placeholder='Insira o preço antigo do pacote')
          input#inputB(type='submit' value='cadastrar')
    #container
      header.menu
        nav.content
          ul.list
            li.link
              a(href='/') Home
            li.link
              a(href='/opcoes') Funções
            li.link
              a(href='/visualizar') Outra coisa
            li.link
              a(href='/json') JSON
    h1#h1 Seja Bem-Vindo a tela de Cadastro de Pacotes!!!
    img(src="https://i.pinimg.com/originals/29/f5/69/29f5699389ac551dfd0705261485e616.gif" width=300)

    #buttons
      button#open-modal(style='color: white;') Cadastrar Pacotes
      a(href='/visualizarPacotes')
        button#open-modal(style='color: white;') Visualizar Pacotes

    script(src='/javascripts/script.js')