doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Publications
    link(rel='stylesheet', href='/stylesheets/styleC.css')
  body
    #fade.hide
    #modal.hide
      .modal-header
        h2(style='color: black;') Cadastrar Publicações
        button#close-modal(style='color: black; background-color: transparent') X
      .modal-body
        div
        p=msg
        form#form(action='/publications/create/' method='POST')
          input.inputs(name="photo" type='text' value='' placeholder='Insira a imagem da publicação')
          input.inputs(name="author" type='text' value='' placeholder='Insira o nome do usuário')
          input.inputs(name="avatar" type='text' value='' placeholder='Insira a imagem do usuário')
          input.inputs(name="date" type='text' value='' placeholder='Insira a data da publicação')
          input.inputs(name="type" type='text' value='' placeholder='Insira o tipo da publicação')
          input.inputs(name="like" type='text' value='' placeholder='Insira a quantidade de like')
          input.inputs(name='comment' type='text' value='' placeholder='Insira a quantidade de comentário')
          input.inputs(name='caption' type='text' value='' placeholder='Insira a descrição da imagem')
          input#inputB(type='submit' value='cadastrar')
    #container
      header.menu
        nav.content
          ul.list
            li.link
              a(href='/') Home
            li.link
              a(href='/opcoes') Funções
            li.link
              a(href='/visualizar') Outra coisa
            li.link
              a(href='/json') JSON
    h1#h1 Seja Bem-Vindo a tela de Cadastro de Postagens!!!
    img(src="https://i.pinimg.com/originals/29/f5/69/29f5699389ac551dfd0705261485e616.gif" width=300)

    #buttons
      button#open-modal(style='color: white;') Cadastrar Postagens
      a(href='/visualizarPostagens')
        button#open-modal(style='color: white;') Visualizar Postagens

    script(src='/javascripts/script.js')